.navbar.navbar-inverse
  .navbar-brand
    iolabs
    · task manager

  %a.dropdown-toggle.pull-right{"data-toggle" => "dropdown", "data-target" => "#", :href => "#"}
    .glyphicon.glyphicon-cog.cog 
        
    
