.navbar.navbar-inverse
  .navbar-brand
    iolabs
    · task manager


  .pull-right.cog
    .glyphicon.glyphicon-cog

  

.options.hidden
  %div
    = link_to "Edit Profile", edit_user_url(@me.id), html: {style: "color: white !important"}
  %div
    = link_to "Sign out", destroy_user_session_path, method: :delete, html: {style: "color: white !important"}
        
    
